@import 'constants/common.scss';

// styles
* {
  box-sizing: border-box;

  &:focus {
    outline: none !important;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: Arial;
  background: rgba(0, 0, 0, 0.2);
}

// div {
//   border: 1px solid #eee;
// }
